<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddIngredient(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 ngModel
                 required
          >
        </div>
        <div class="col-sm-5 form-group">
          <label for="name">Description</label>
          <input type="text"
                 id="description"
                 class="form-control"
                 name="description"
                 ngModel
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number"
                 id="amount"
                 class="form-control"
                 name="amount"
                 ngModel
                 required
          >
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit"  class="btn btn-success" [disabled]="!f.valid" style="margin: 5px">{{ editMode ? "Update" : "Add" }}</button>
            <button type="button" class="btn btn-danger" [disabled]="!editMode"  (click)="onDelete()"  style="margin: 5px">Delete</button>
            <button  class="btn btn-danger" (click)="onClear()" style="margin: 5px">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
